/* Style the navigation bar */
body{
  background: #3171cb;
    background-size: cover;
}


.navbar {
    overflow: auto;
    margin-left: 1000px;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #04AA6D;
  }


  .paragraphtext{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 40px;

  }

  .what_we_do{
    margin-top: -290px;
    font-size: 25px;
  }



  .function {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the cards vertically */
    justify-content: center; /* Center the cards horizontally */
    min-height: 100vh; /* Ensures the container takes up the full viewport height */
  }




  
  .flip-card-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjust this value to change the spacing between cards */
  }
  
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }

 
 